#!/usr/bin/env bash

export VAULT_ADDR="http://127.0.0.1:{{ backend_port }}"
initfile={{ vault_config_path}}/init.file

# Get seal keys
key_1=$(sed -n 1p "$initfile" | cut -d':' -f2 | tr -d '[:space:]')
key_2=$(sed -n 2p "$initfile" | cut -d':' -f2 | tr -d '[:space:]')
root_token=$(sed -n 4p "$initfile" | cut -d':' -f2 | tr -d '[:space:]')

# unseal vault storage
vault operator unseal $key_1 && vault operator unseal $key_2

#provision jenkins secret
echo "root token $root_token"
vault login $root_token && vault write secret/jenkins username=admin password=$(date +%s | sha256sum | base64 | head -c 32 ; echo)

vault policy write jenkins {{ vault_config_path}}/policy.hcl
vault token create -policy=jenkins -field=token > /tmp/vault_token

# save encryption keys
echo "SEAL key #1 = $key_1" > /tmp/secrets
echo "SEAL key #2 = $key_2" >> /tmp/secrets
echo "ROOT Token = $root_token" >> /tmp/secrets
